<!--// Directory Structure Example-->
<!--// Feel free to delete this file.-->

<html>
    <%- include('./partials/head.ejs') %>
    <body class="h-screen">
        <%- include('./partials/nav.ejs') %>
        <h1>Your Cookbook</h1>
        <div class="w-3/4 flex-row">
            <div class="flex flex-wrap flex-row justify-between">
                <% recipes.forEach(r => { %>
                    <div class="flex flex-col my-4 mx-6 w-1/4">
                        <a href=<%-"/recipes/"+r.id%>>
                            <img class="rounded-md w-72 object-cover shadow-md hover:shadow-lg" src=<%-r.image%>>
                            <a class="cursor-pointer text-center text-sm text-secondary-brown mt-2 hover:text-secondary-pink"> <%- r.title %> </a>
                        </a>
                    </div>
                <%  }) %>
            </div>
        </div>
    </body>
</html>