<html>
    <%- include('./partials/head.ejs') %>
    <body class="h-screen">

        <%- include('./partials/nav.ejs') %>
        <div class="container page-content px-16 bg-white">
            <div class="p-16 space-x-8 flex h-full justify-center">
                <div class="w-1/4">
                    <%- include('./partials/searchField.ejs') %>
                </div>

                <div class="w-3/4 m-auto">
                    <%- include('./partials/recipeList.ejs') %>
                    <% recipes.forEach(r => { %>
                    <li><a href=<%-"/recipes/"+r.id%>> <%- r.title %> </a> </li>
                    <%  }) %>
                </div>
            </div>
        </div>
    </body>
</html>
