<html>
    <%- include('./partials/head.ejs') %>
    <body class="h-screen">

    <%- include('./partials/nav.ejs') %>
        <div class="container page-content py-8 space-x-8 bg-white flex flex-row mx-auto">
            <div class="container w-4/5 bg-eggshell rounded-md shadow-xl flex flex-row mx-auto p-8 space-x-16">
                <div class="w-1/3 flex-col">
                    <h2 class="uppercase text-primary-dg font-bold text-center"><%- recipe.title %></h2>
                    <p class="border-b-2 border-secondary-brown mt-2"></p>

                    <div class="text-sm text-center mt-2 text-primary-dg">
                        <span>Ready in <%- recipe.readyInMinutes%> minutes </span>
                        <span class="font-bold"> | </span>
                        <span>Serves <%- recipe.servings%></span>
                    </div>

                    <% if (recipe.image !== "") { %>
                        <img class="rounded-xl my-6 w-full object-cover shadow-sm" src=<%-recipe.image%> alt=<%-recipe.title%>>
                    <% } else { %>
                        <img class="rounded-xl my-6 w-full object-cover shadow-sm" src="/images/default.png" alt="defaultImage">
                    <% } %>
                    <p class="border-b-2 border-secondary-brown mb-8"></p>

                    <button id="saveRecipe"
                            style="display: none"
                            class="block bg-secondary-brown text-center text-md no-underline text-eggshell mx-auto p-2 px-8 rounded-3xl shadow-md hover:bg-secondary-pink hover:shadow-xl">
                        Save Recipe
                    </button>
                    <button id="removeRecipe"
                            style="display: none"
                            class="block bg-secondary-brown text-center text-md no-underline text-eggshell mx-auto p-2 px-8 rounded-3xl shadow-md hover:bg-secondary-pink hover:shadow-xl">
                        Remove Recipe
                    </button>
                </div>

                <div class="w-2/3 flex-col space-y-4">
                    <div class="space-y-1">
                        <p class="uppercase text-primary-dg font-bold text-center">Ingredients</p>
                        <% recipe.extendedIngredients.forEach(function (ingredient) { %>
                        <p class="text-sm"><%=ingredient.original%></p>
                        <% })%>
                    </div>

                    <p class="border-b-2 border-secondary-brown border-dashed my-2"></p>

                    <div class="space-y-1">
                        <p class="uppercase text-primary-dg font-bold text-center">Instructions</p>
                        <p class="text-sm"><%- recipe.instructions%></p>
                    </div>
                </div>
            </div>

            <!-- SIMILAR RECIPES HERE -->
            <% if (similarRecipes !== null) { %>
                <div class="bg-eggshell rounded-md shadow-xl flex flex-col mx-auto justify-start w-1/5">
                    <p class="uppercase text-primary-dg font-bold text-center pt-8 pb-2">Recommended Recipes</p>

                    <div class="flex flex-col items-center justify-center px-4 space-y-2 pb-8">
                        <% similarRecipes.forEach( (sr) => {  %>
                            <div class="flex text-center">
                                <a href=<%-"/recipes/"+sr.id%>>
                                    <a class="text-eggshell text-sm bg-secondary-brown px-2 py-1 m-1 rounded-xl shadow-md hover:shadow-xl hover:bg-secondary-pink" href=<%-"/recipes/"+sr.id%>/true> <%- sr.title %></a>
                                </a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% } %>
        </div>

        <div class='recipeStore' data-test-value='<%= JSON.stringify(recipe) %>'></div>
        <script src = "/controller/recipeDetails.js"></script>
    </body>
</html>
